<%= form_for @trade, url: '/manage/create' do |f| %>
    <div>
        <%= f.label ("Ticker") %>
        <%= f.text_field :asset_ticker %>
    </div>
    <div>
        <%= f.label ("Execution Date") %>
        <%= f.datetime_select :execution_date %>
    </div>
    <div>
        <%= f.label ("Price") %>
        <%= f.number_field :price, :step => 0.01 %>
    </div>
    <div>
        <%= f.label ("Quantity") %>
        <%= f.number_field :quantity, :step => 0.01 %>
    </div>
    <div>
        <%= f.label ("Fees") %>
        <%= f.number_field :fees, :step => 0.01 %>
    </div>
    <div>
        <%= f.label ("Industry Group") %>
        <%= f.select(:industry_group, @igs.map {|g| [g, g]}) %>
    </div>
    <br />
    <%= f.submit "Add Transaction" %>
<% end %>