<% @trades.each do |trade| %>
    <div>
        <%= trade.asset_ticker %> on <%= trade.execution_date %>
        <%= form_for(trade, :url => 'manage/remove') do |f| %>
        <%= f.hidden_field :trade_id, :value => trade.id%>
        <%= f.submit :value => "Delete" %>
        <% end %>
    </div>
<% end %>