<%= form_for @report, url: '/manage/create' do |f| %>
    <div>
        <%= f.label("Presentation Date:") %>
        <%= f.date_select :presentation_date %>
    </div>
    <div>
        <%= f.label ("Target Price (most recent):") %>
        <%= f.number_field :target_price, :step => 0.01 %>
    </div>
    <div>
        <%= f.label ("Relevant Holding") %>
        <%= f.collection_select :stock_id, Stock.all, :id, :ticker %>
    </div>
    <div>
        <%= f.submit "Create New Report" %>
    </div>
<% end %>